img.movie-item {
    width: 100%;
    // aspectRatio: "8/16";
    object-fit: "cover";
    cursor: pointer;
    &:hover {
        position: relative;
        z-index: 100;
        transition: transform 0.3s;
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        border-radius: 2px;
        border: 1px solid white;
    }
}
