.showcase-top {
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 90px;
    background-color: transparent;
    transition: all 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    > *:not(h2) {
        height: 40%;
        width: auto;
    }
    h2 {
        color: red;
        cursor: pointer;
    }
}
.header-scrolled {
    background-color: #000000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 0 2rem !important;
    height: 55px !important;
    h2 {
        margin: 0;
    }
}

// .showcase-top div {
//     width: 170px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     margin-left: 0;
// }
