.showcase {
    transition: all 0.3s ease;
}
.header-scrolled {
    background-color: #000000;
    > * {
        transition: all 0.3s;
        box-shadow: 0 3px 10px rgba(27, 10, 10, 0.15);
        height: 55px !important;
    }
}
