.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
    animation: slide-down 300ms ease-out forwards;
}

.modal {
    position: fixed;
    // top: 20vh;
    bottom: -3rem;
    // left: 5%;
    width: 100%;
    background-color: black;
    color: white;
    // padding: 2rem;
    border-radius: 0.5rem;
    z-index: 30;
    animation: slide-top 300ms ease-out forwards;
}

// @media (min-width: 768px) {
//     .modal {
//         width: 40rem;
//         left: calc(50% - 20rem);
//     }
// }

@keyframes slide-top {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(-3rem);
    }
}
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
